<section class="">
    <section class="py-5">
        <h1 class="text-[25px] pb-2 font-bold">BMI introduction</h1>
        <p class="text-[18px]">
            BMI is a measurement of a person's leanness or corpulence based on their height and weight, and is intended to quantify tissue mass. It is widely used as a general indicator of whether a person has a healthy body weight for their height. Specifically, the value obtained from the calculation of BMI is used to categorize whether a person is underweight, normal weight, overweight, or obese depending on what range the value falls between. These ranges of BMI vary based on factors such as region and age, and are sometimes further divided into subcategories such as severely underweight or very severely obese. Being overweight or underweight can have significant health effects, so while BMI is an imperfect measure of healthy body weight, it is a useful indicator of whether any additional testing or action is required. Refer to the table below to see the different categories based on BMI that are used by the calculator.</p>        
    </section>
    <section class="py-5">
        <h1 class="text-[25px] pb-2 font-bold">
            BMI chart for adults
        </h1>
        <p class="text-[18px]">
            This is a graph of BMI categories based on the World Health Organization data. The dashed lines represent subdivisions within a major categorization.
        </p>
        <img class="py-5 mx-auto w-full max-w-[1000px]" src="assets/bmi-chart.gif">
    </section>
    <section class="py-5">
        <h1 class="text-[25px] pb-2 font-bold">
            Risks associated with being overweight
        </h1>
        <p class="text-[18px]">Being overweight increases the risk of a number of serious diseases and health conditions. Below is a list of said risks, according to the Centers for Disease Control and Prevention (CDC):</p>
        <ul class="list-disc pl-10 
        sm:pl-16 
        md:pl-20 py-5">
            <li class="text-[18px] ">
                High blood pressure
            </li>
            <li class="text-[18px]">
                Higher levels of LDL cholesterol, which is widely considered "bad cholesterol," lower levels of HDL cholesterol, considered to be good cholesterol in moderation, and high levels of triglycerides
            </li>
            <li class="text-[18px]">
                Type II diabetes
            </li>
            <li class="text-[18px]">
                Coronary heart disease
            </li>
            <li class="text-[18px]">
                Stroke
            </li>
            <li class="text-[18px]">
                Gallbladder disease
            </li>
            <li class="text-[18px]">
                Osteoarthritis, a type of joint disease caused by breakdown of joint cartilage
            </li>
            <li class="text-[18px]">
                Sleep apnea and breathing problems
            </li>
            <li class="text-[18px]">Certain cancers (endometrial, breast, colon, kidney, gallbladder, liver)
            </li>
            <li class="text-[18px]">
                Low quality of life
            </li>
            <li class="text-[18px]">
                Mental illnesses such as clinical depression, anxiety, and others
            </li>
            <li class="text-[18px]">
                Body pains and difficulty with certain physical functions
            </li>
            <li class="text-[18px]">
                Generally, an increased risk of mortality compared to those with a healthy BMI
            </li>

        </ul>
        <p class="text-[18px]">
            As can be seen from the list above, there are numerous negative, in some cases fatal, outcomes that may result from being overweight. Generally, a person should try to maintain a BMI below 25 kg/m2, but ideally should consult their doctor to determine whether or not they need to make any changes to their lifestyle in order to be healthier.
        </p>
    </section>
    <section class="py-5">
        <h1 class="text-[25px] pb-2 font-bold">
            Risks associated with being underweight
        </h1>
        <p class="text-[18px]">
            Being underweight has its own associated risks, listed below:
        </p>
        <ul class="list-disc pl-10 
        sm:pl-16 
        md:pl-20 py-5">
            <li class="text-[18px] ">Malnutrition, vitamin deficiencies, anemia (lowered ability to carry blood vessels)</li>
            <li class="text-[18px] ">Osteoporosis, a disease that causes bone weakness, increasing the risk of breaking a bone</li>
            <li class="text-[18px] ">A decrease in immune function</li>
            <li class="text-[18px] ">Growth and development issues, particularly in children and teenagers</li>
            <li class="text-[18px] ">Possible reproductive issues for women due to hormonal imbalances that can disrupt the menstrual cycle. Underweight women also have a higher chance of miscarriage in the first trimester</li>
            <li class="text-[18px] ">Potential complications as a result of surgery</li>
            <li class="text-[18px] ">Generally, an increased risk of mortality compared to those with a healthy BMI</li>
        </ul>
        <p class="text-[18px]">
            In some cases, being underweight can be a sign of some underlying condition or disease such as anorexia nervosa, which has its own risks. Consult your doctor if you think you or someone you know is underweight, particularly if the reason for being underweight does not seem obvious.
        </p>
    </section>
    <section class="py-5">
        <h1 class="text-[25px] pb-2 font-bold">
            Limitations of BMI
        </h1>
        <p class="text-[18px]">
            Although BMI is a widely used and useful indicator of healthy body weight, it does have its limitations. BMI is only an estimate that cannot take body composition into account. Due to a wide variety of body types as well as distribution of muscle, bone mass, and fat, BMI should be considered along with other measurements rather than being used as the sole method for determining a person's healthy body weight.
        </p>
        <div class="py-2">
            <h1 class="text-[20px] font-bold">
                In adults:
            </h1>
            <p class="text-[18px]">
                BMI cannot be fully accurate because it is a measure of excess body weight, rather than excess body fat. BMI is further influenced by factors such as age, sex, ethnicity, muscle mass, body fat, and activity level, among others. For example, an older person who is considered a healthy weight, but is completely inactive in their daily life may have significant amounts of excess body fat even though they are not heavy. This would be considered unhealthy, while a younger person with higher muscle composition of the same BMI would be considered healthy. In athletes, particularly bodybuilders who would be considered overweight due to muscle being heavier than fat, it is entirely possible that they are actually at a healthy weight for their body composition. Generally, according to the CDC:
            </p>
            <ul class="list-disc pl-10 
            sm:pl-16 
            md:pl-20 py-5">
                <li class="text-[18px] ">
                    Older adults tend to have more body fat than younger adults with the same BMI.
                </li>
                <li class="text-[18px] ">
                    Women tend to have more body fat than men for an equivalent BMI.
                </li>
                <li class="text-[18px] ">
                    Muscular individuals and highly trained athletes may have higher BMIs due to large muscle mass.
                </li>

            </ul>
        </div>
        <div class="py-2">
            <h1 class="text-[20px] font-bold">
                In children and adolescents:
            </h1>
            <p class="text-[18px]">
                The same factors that limit the efficacy of BMI for adults can also apply to children and adolescents. Additionally, height and level of sexual maturation can influence BMI and body fat among children. BMI is a better indicator of excess body fat for obese children than it is for overweight children, whose BMI could be a result of increased levels of either fat or fat-free mass (all body components except for fat, which includes water, organs, muscle, etc.). In thin children, the difference in BMI can also be due to fat-free mass.
            </p>
            <p class="text-[18px]">
                That being said, BMI is fairly indicative of body fat for 90-95% of the population, and can effectively be used along with other measures to help determine an individual's healthy body weight.
            </p>
        </div>
    </section>
</section>