<main class="
py-20 px-[1.5rem] sm:px-[4rem] sm:py-24 md:px-[6rem] md:py-36
">

<app-title title="BMI Calculator"></app-title>

<app-bmi-form></app-bmi-form>
<app-bmi-info></app-bmi-info>

<p class="text-[12px] opacity-50">
    "All the images and content illustrated in this project are sourced from <a class="font-bold" href="https://www.calculator.net/bmi-calculator.html"> Calculator.net's BMI Calculator.</a> It is important to note that the content has been used solely for the purpose of explanation and illustration in this project. The BMI Calculator provided by Calculator.net serves as a reference for demonstrating concepts related to Body Mass Index (BMI), and its use in this context is not intended for commercial or redistributive purposes. Proper attribution and acknowledgment are given to Calculator.net for the content utilized, and users are encouraged to visit the original source for a comprehensive BMI calculation tool and additional information on health-related topics."


</p>
</main>