

<section id="formZone" class="
flex flex-col align-middle justify-center items-center border-2 rounded-md max-w-[80%] mx-auto my-2 p-2 py-4
">
    <form action="" class="text-center" >
        <div 
        class="flex flex-col gap-y-5 ">
            <div>
                <label for="kg_input" class="hidden"></label>
                <input name="kg_input" type="number" placeholder="Enter your weight in kg"
                class="px-2 py-2 text-[20px]
                border-2 rounded-sm
                border-slate-900
                focus:border-blue-500 
                focus:outline-none">
            </div>            
            <div>
                <label for="m_input" class="hidden"></label>
                <input name="m_input" type="number" placeholder="Enter your height in m"
                class="px-2 py-2 text-[20px] 
                border-2 rounded-sm
                border-slate-900
                focus:border-blue-500 
                focus:outline-none
                ">
            </div>
        </div>

        <button type = "submit" 
        (click)="$event.preventDefault(); newAlert()"
        class="
        bg-gradient-to-r from-violet-500 to-blue-700
        px-2 py-1 mt-5 rounded-md text-[20px] 
        hover:opacity-70
        "
        >OBTAIN BMI</button>

    </form>


    
</section>

<section
class="
    py-5
">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem officia, doloremque voluptate molestias quibusdam delectus, mollitia saepe aperiam atque dolores tempore illum quas unde quam quo labore nobis velit eius.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem officia, doloremque voluptate molestias quibusdam delectus, mollitia saepe aperiam atque dolores tempore illum quas unde quam quo labore nobis velit eius.</p>

</section>
<section 
class="
    py-5
">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem officia, doloremque voluptate molestias quibusdam delectus, mollitia saepe aperiam atque dolores tempore illum quas unde quam quo labore nobis velit eius.</p>

</section>